<h2>Home</h2>
<section id="react-app">

<table data-toggle="table" data-url="data1.json" data-cache="false" data-height="299">
    <thead>
        <tr>
            <th data-field="id">Period</th>
            <th data-field="name">Level</th>
            <th data-field="price">Price</th>
        </tr>
    </thead>
   
{{{ markup }}}
	
</table>
</div>